@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "open-sans", sans-serif;
}

a {
  color: inherit;
}

.hidden {
  display: none;
}

.gold {
  cursor: pointer;
  color: gold;
}
.gold:hover {
  color: black;
}

.red {
  cursor: pointer;
  color: red;
}
.red:hover {
  color: rgb(141, 12, 12);
}

.move--left {
  margin-left: 300px;
}
@media (max-width: 670px) {
  .move--left {
    margin-left: 100vw;
  }
}

.wrapper--right {
  left: 0 !important;
}

.wrapper {
  z-index: 2;
  background: #21243D;
  color: white;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 300px;
  transition: all 0.05s;
}
.wrapper .row {
  text-align: right;
  padding: 15px;
  font-size: 20px;
}
.wrapper .row .close__sidebar {
  cursor: pointer;
}
@media (max-width: 68px) {
  .wrapper {
    width: 250px;
  }
}
.wrapper .sidebar {
  text-align: center;
}
.wrapper .sidebar ul {
  margin-top: 10vh;
}
.wrapper .sidebar ul li {
  cursor: pointer;
  margin-top: 5vh;
  transition-duration: 0.4s;
}
.wrapper .sidebar ul li:hover, .wrapper .sidebar ul li:active {
  color: #FF6464;
}
.wrapper .sidebar .avatar {
  margin-top: 15vh;
  text-align: center;
  font-size: 60px;
}
.wrapper .sidebar .avatar__name {
  font-size: 25px;
  margin-top: 2vh;
  text-align: center;
}

main {
  z-index: 1;
  position: relative;
}
main nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
  background: white;
  color: black;
  border-bottom: 2px solid #21243D;
  transition: all 0.5s ease;
}
main nav .open {
  font-size: 22px;
  cursor: pointer;
}
main nav .open:hover, main nav .open:active {
  color: #34385f;
}
main nav .user {
  cursor: pointer;
  font-size: 22px;
}
main nav .user:hover, main nav .user:active {
  color: #34385f;
}
main nav .user__submenu {
  z-index: 2;
  font-size: 14px !important;
  background: rgb(208, 206, 206);
  position: absolute;
  width: 200px;
  border-radius: 5px;
  padding: 0;
  bottom: calc(-70px - 100%);
  right: 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
main nav .user__submenu li {
  cursor: pointer;
  margin-top: 10px;
}
main nav .user__submenu li:hover, main nav .user__submenu li:active {
  color: #34385f;
}
main .span--blue {
  color: rgb(0, 85, 255);
  cursor: pointer;
}
main .overlay__login {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(128, 128, 128, 0.24);
}
main .overlay__signup {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(128, 128, 128, 0.24);
}
main .modal__login {
  z-index: 3;
  background: white;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 50vw;
}
main .modal__login .row {
  text-align: right;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
}
main .modal__login .title {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
main .modal__login .container__login {
  margin: 0 auto;
  max-width: 80%;
}
main .modal__login .container__login form {
  margin-top: 4vh;
}
main .modal__login .container__login form input {
  margin-top: 5vh;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
main .modal__login .container__login form input:focus {
  border-color: black;
  color: black;
}
main .modal__login .container__login form button {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 768px) {
  main .modal__login .container__login form button {
    width: 200px;
  }
}
@media (max-width: 600px) {
  main .modal__login .container__login form button {
    width: 130px;
  }
}
main .modal__login .container__login form button:hover {
  color: white;
  background: black;
}
main .modal__login .container__login form p {
  text-align: center;
  margin: 5vh 0 2vh;
}
main .modal__login .container__login form p a {
  color: rgb(0, 85, 255);
}
main .modal__signup {
  z-index: 3;
  background: white;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 50vw;
}
main .modal__signup .row {
  text-align: right;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
}
main .modal__signup .title {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
main .modal__signup .container__signup {
  margin: 0 auto;
  max-width: 80%;
}
main .modal__signup .container__signup form {
  margin-top: 4vh;
}
main .modal__signup .container__signup form input {
  margin-top: 5vh;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
main .modal__signup .container__signup form input:focus {
  border-color: black;
  color: black;
}
main .modal__signup .container__signup form button {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 768px) {
  main .modal__signup .container__signup form button {
    width: 200px;
  }
}
@media (max-width: 600px) {
  main .modal__signup .container__signup form button {
    width: 130px;
  }
}
main .modal__signup .container__signup form button:hover {
  color: white;
  background: black;
}
main .modal__signup .container__signup form p {
  text-align: center;
  margin: 5vh 0 2vh;
}
main .btn__add {
  display: block;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  background: rgb(46, 194, 46);
  border-color: rgb(46, 194, 46);
  color: white;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 gray;
  cursor: pointer;
  transition-duration: 0.4s;
}
main .btn__add:hover {
  background: white;
  color: rgb(46, 194, 46);
  border: 4px solid rgb(46, 194, 46);
}
main .section__recentposts {
  height: -moz-fit-content;
  height: fit-content;
  background: rgb(237, 236, 236);
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
main .section__recentposts .box--add {
  position: relative;
  height: 100px;
}
main .section__recentposts .section__frame {
  margin: 0 auto;
  min-height: calc(98vh - 148px);
  height: -moz-fit-content;
  height: fit-content;
  width: 98%;
  border-radius: 10px;
  padding: 25px;
  background: white;
}
main .section__recentposts .section__frame .section__main {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(237, 236, 236) !important;
}
main .section__recentposts .section__frame .section__main .row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
  align-items: center;
}
main .section__recentposts .section__frame .section__main .row:not(:last-of-type) {
  border-bottom: 1px solid black;
}
main .section__recentposts .section__frame .section__main .row__head {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
  align-items: center;
  border-bottom: 1px solid black;
}
main .section__recentposts .section__frame .section__main .row__head .col__title, main .section__recentposts .section__frame .section__main .row__head .col__date, main .section__recentposts .section__frame .section__main .row__head .col__tags, main .section__recentposts .section__frame .section__main .row__head .col__desc, main .section__recentposts .section__frame .section__main .row__head .col__actions {
  padding: 15px 20px;
  text-align: center;
}
main .section__recentposts .section__frame .section__main .row .col__title, main .section__recentposts .section__frame .section__main .row .col__date, main .section__recentposts .section__frame .section__main .row .col__tags, main .section__recentposts .section__frame .section__main .row .col__desc, main .section__recentposts .section__frame .section__main .row .col__actions {
  padding: 15px 20px;
  text-align: center;
}
main .section__recentposts .overlay__recentposts {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(84, 83, 83, 0.24);
}
main .section__recentposts .modal__recentposts {
  z-index: 6;
  background: white;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  width: 65vw;
}
main .section__recentposts .modal__recentposts .row {
  text-align: right;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
}
main .section__recentposts .modal__recentposts .title {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
main .section__recentposts .modal__recentposts .form__recentposts label {
  display: block;
  margin-top: 3vh;
}
main .section__recentposts .modal__recentposts .form__recentposts input {
  margin-top: 1vh;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
main .section__recentposts .modal__recentposts .form__recentposts input:focus {
  border-color: black;
  color: black;
}
main .section__recentposts .modal__recentposts .form__recentposts button {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 768px) {
  main .section__recentposts .modal__recentposts .form__recentposts button {
    width: 200px;
  }
}
@media (max-width: 600px) {
  main .section__recentposts .modal__recentposts .form__recentposts button {
    width: 130px;
  }
}
main .section__recentposts .modal__recentposts .form__recentposts button:hover {
  color: white;
  background: black;
}
main .section__featuredworks {
  height: -moz-fit-content;
  height: fit-content;
  background: rgb(237, 236, 236);
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
main .section__featuredworks .box--add {
  position: relative;
  height: 100px;
}
main .section__featuredworks .section__frame {
  margin: 0 auto;
  min-height: calc(98vh - 148px);
  height: -moz-fit-content;
  height: fit-content;
  width: 98%;
  border-radius: 10px;
  padding: 25px;
  background: white;
}
main .section__featuredworks .section__frame .section__main {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(237, 236, 236) !important;
}
main .section__featuredworks .section__frame .section__main .row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 2fr 8fr 2fr;
}
main .section__featuredworks .section__frame .section__main .row:not(:last-of-type) {
  border-bottom: 1px solid black;
}
main .section__featuredworks .section__frame .section__main .row__head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 8fr 2fr;
  align-items: center;
  border-bottom: 1px solid black;
}
main .section__featuredworks .section__frame .section__main .row__head .col__img, main .section__featuredworks .section__frame .section__main .row__head .col__title, main .section__featuredworks .section__frame .section__main .row__head .col__year, main .section__featuredworks .section__frame .section__main .row__head .col__type, main .section__featuredworks .section__frame .section__main .row__head .col__desc, main .section__featuredworks .section__frame .section__main .row__head .col__actions {
  padding: 15px 20px;
  text-align: center;
  justify-self: center;
}
main .section__featuredworks .section__frame .section__main .row .col__img, main .section__featuredworks .section__frame .section__main .row .col__title, main .section__featuredworks .section__frame .section__main .row .col__year, main .section__featuredworks .section__frame .section__main .row .col__type, main .section__featuredworks .section__frame .section__main .row .col__desc, main .section__featuredworks .section__frame .section__main .row .col__actions {
  padding: 15px 20px;
  text-align: center;
  justify-self: center;
}
main .section__featuredworks .section__frame .section__main .row .col__actions {
  line-height: 25px;
}
main .section__featuredworks .overlay__featuredworks {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(84, 83, 83, 0.24);
}
main .section__featuredworks .modal__featuredworks {
  z-index: 6;
  background: white;
  position: absolute;
  top: calc(50vh - 3%);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  width: 65vw;
}
main .section__featuredworks .modal__featuredworks .row {
  text-align: right;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
}
main .section__featuredworks .modal__featuredworks .title {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
main .section__featuredworks .modal__featuredworks .form__featuredworks label {
  display: block;
  margin-top: 3vh;
}
main .section__featuredworks .modal__featuredworks .form__featuredworks input {
  margin-top: 1vh;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
main .section__featuredworks .modal__featuredworks .form__featuredworks input:focus {
  border-color: black;
  color: black;
}
main .section__featuredworks .modal__featuredworks .form__featuredworks button {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 768px) {
  main .section__featuredworks .modal__featuredworks .form__featuredworks button {
    width: 200px;
  }
}
@media (max-width: 600px) {
  main .section__featuredworks .modal__featuredworks .form__featuredworks button {
    width: 130px;
  }
}
main .section__featuredworks .modal__featuredworks .form__featuredworks button:hover {
  color: white;
  background: black;
}
main .section__blogposts {
  height: -moz-fit-content;
  height: fit-content;
  background: rgb(237, 236, 236);
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
main .section__blogposts .box--add {
  position: relative;
  height: 100px;
}
main .section__blogposts .section__frame {
  margin: 0 auto;
  min-height: calc(98vh - 148px);
  height: -moz-fit-content;
  height: fit-content;
  width: 98%;
  border-radius: 10px;
  padding: 25px;
  background: white;
}
main .section__blogposts .section__frame .section__main {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgb(237, 236, 236) !important;
}
main .section__blogposts .section__frame .section__main .row {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 3fr 6fr 2fr;
}
main .section__blogposts .section__frame .section__main .row:not(:last-of-type) {
  border-bottom: 1px solid black;
}
main .section__blogposts .section__frame .section__main .row__head {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 6fr 2fr;
  align-items: center;
  border-bottom: 1px solid black;
}
main .section__blogposts .section__frame .section__main .row__head .col__title, main .section__blogposts .section__frame .section__main .row__head .col__date, main .section__blogposts .section__frame .section__main .row__head .col__tags, main .section__blogposts .section__frame .section__main .row__head .col__desc, main .section__blogposts .section__frame .section__main .row__head .col__actions {
  padding: 15px 20px;
  text-align: center;
  justify-self: center;
}
main .section__blogposts .section__frame .section__main .row .col__title, main .section__blogposts .section__frame .section__main .row .col__date, main .section__blogposts .section__frame .section__main .row .col__tags, main .section__blogposts .section__frame .section__main .row .col__desc, main .section__blogposts .section__frame .section__main .row .col__actions {
  padding: 15px 20px;
  text-align: center;
  justify-self: center;
}
main .section__blogposts .section__frame .section__main .row .col__actions {
  line-height: 25px;
}
main .section__blogposts .overlay__blogposts {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(84, 83, 83, 0.24);
}
main .section__blogposts .modal__blogposts {
  z-index: 6;
  background: white;
  position: absolute;
  top: calc(50vh - 3%);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  width: 65vw;
}
main .section__blogposts .modal__blogposts .row {
  text-align: right;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 20px;
}
main .section__blogposts .modal__blogposts .title {
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
main .section__blogposts .modal__blogposts .form__blogposts label {
  display: block;
  margin-top: 3vh;
}
main .section__blogposts .modal__blogposts .form__blogposts input {
  margin-top: 1vh;
  padding-bottom: 10px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
main .section__blogposts .modal__blogposts .form__blogposts input:focus {
  border-color: black;
  color: black;
}
main .section__blogposts .modal__blogposts .form__blogposts button {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 768px) {
  main .section__blogposts .modal__blogposts .form__blogposts button {
    width: 200px;
  }
}
@media (max-width: 600px) {
  main .section__blogposts .modal__blogposts .form__blogposts button {
    width: 130px;
  }
}
main .section__blogposts .modal__blogposts .form__blogposts button:hover {
  color: white;
  background: black;
}

.submenu--down {
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  padding: 10px 20px !important;
}/*# sourceMappingURL=style.css.map */